<?xml version="1.0" encoding="utf-8" ?>
<log4net>
	<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender" >
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%-5level] %logger - %message%newline" />
		</layout>
	</appender>

	<appender name="RegularRollingFileAppender" type="log4net.Appender.RollingFileAppender">
		<file value="${APPDATA}\FireEye\Redline\Redline.log" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="10" />
		<maximumFileSize value="4000000" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%-5level] %logger - %message%newline" />
		</layout>
	</appender>

	<root>
		<level value="ERROR" />
		<appender-ref ref="RegularRollingFileAppender" />
		<appender-ref ref="ConsoleAppender" />
	</root>
</log4net>