<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
		 <section name="SlimCharles.Redline.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
		<sectionGroup name="ExceptionReporter">
			<section name="Contact" type="System.Configuration.NameValueSectionHandler"/>
			<section name="TabsToShow" type="System.Configuration.NameValueSectionHandler"/>
			<section name="Email" type="System.Configuration.NameValueSectionHandler"/>
			<section name="LabelMessages" type="System.Configuration.NameValueSectionHandler"/>
			<section name="UserInterface" type="System.Configuration.NameValueSectionHandler"/>
		</sectionGroup>
	 <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="SlimCharles.Redline.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <startup useLegacyV2RuntimeActivationPolicy="true">
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
 <userSettings>
  <SlimCharles.Redline.Properties.Settings>
   <setting name="WindowState" serializeAs="String">
    <value>Normal</value>
   </setting>
   <setting name="WindowHeight" serializeAs="String">
    <value>768</value>
   </setting>
   <setting name="WindowWidth" serializeAs="String">
    <value>1024</value>
   </setting>
   <setting name="WindowTop" serializeAs="String">
    <value>50</value>
   </setting>
   <setting name="WindowLeft" serializeAs="String">
    <value>50</value>
   </setting>
   <setting name="UpgradeRequired" serializeAs="String">
    <value>False</value>
   </setting>
  </SlimCharles.Redline.Properties.Settings>
 </userSettings>
 <ExceptionReporter>
		<Contact>
			<add key="email" value="#####@FireEye.com"/>
			<add key="web" value="www.Mandiant.com/######"/>
			<add key="phone" value="111 111 1111"/>
			<add key="fax" value="222 222 222"/>
			<add key="CompanyName" value="Support"/>
		</Contact>
		<TabsToShow>
			<add key="exceptions" value="true"/>
			<add key="assemblies" value="true"/>
			<add key="config" value="true"/>
			<add key="log" value="true"/>
			<add key="system" value="true"/>
			<add key="contact" value="false"/>
		</TabsToShow>
		<Email>
			<add key="method" value="MAPI"/>
			<add key="to" value="Redline@FireEye.com"/>
		</Email>
		<LabelMessages>
			<add key="general" value="An exception has occured - you can send details to the programmer"/>
			<add key="explanation" value="Please enter a short description of what happened"/>
			<add key="ContactTop" value="The numbers below may be used to contact support for this software"/>
			<add key="ContactBottom" value="Some bottom message"/>
		</LabelMessages>
		<UserInterface>
			<add key="ShowFlatButtons" value="false"/>
			<add key="ShowLessMoreDetailButton" value="true"/>
			<add key="ShowFullDetail" value="false"/>
			<add key="ShowButtonIcons" value="false"/>			
			<add key="TakeScreenshot" value="false"/>
			<add key="AttachLogFile" value="true"/>
			<add key="AttachBatchResult" value="true"/>
			<add key="UserExplanationFontSize" value="11"/>
		</UserInterface>
	</ExceptionReporter>
 <applicationSettings>
  <SlimCharles.Redline.Properties.Settings>
   <setting name="HelpURL" serializeAs="String">
    <value>https://forums.mandiant.com/spaces/31/index.html</value>
   </setting>
   <setting name="SuppressSplashScreen" serializeAs="String">
    <value>True</value>
   </setting>
  </SlimCharles.Redline.Properties.Settings>
 </applicationSettings>
	<runtime>
		  <enforceFIPSPolicy enabled="false"/>    
	</runtime>
</configuration>
