<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file for information on customizing logging rules and outputs.
   -->
  <targets>
    <target xsi:type="ColoredConsole" name="console" layout="${message}" useDefaultRowHighlightingRules="false">

      <!-- Change backgroundColor and foregroundColor to the colors you want to use!!! -->
      <!-- Available colors can be seen at https://github.com/nlog/NLog/wiki/ColoredConsole-target -->
	<highlight-row backgroundColor="White" condition="level == LogLevel.Fatal" foregroundColor="Red"/>
	<highlight-row backgroundColor="White" condition="level == LogLevel.Error" foregroundColor="Green"/>
	<highlight-row backgroundColor="White" condition="level == LogLevel.Warn" foregroundColor="Magenta"/>
	<highlight-row backgroundColor="White" condition="level == LogLevel.Info" foregroundColor="Black"/>
	<highlight-row backgroundColor="White" condition="level == LogLevel.Debug" foregroundColor="Gray"/>
	<highlight-row backgroundColor="White" condition="level == LogLevel.Trace" foregroundColor="DarkGray"/>

    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="console" />
  </rules>
</nlog>